.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    font-size: 3vh;
    margin: 2vh;          
}
.nbutton{
    margin: 0vw 0.3vw;
}

a {
    text-decoration: none;
    color: black;
}